﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Configuration Management - @ViewBag.Title</title>

        <!-- Bootstrap -->
        <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet">
      
        <!-- Theme -->
        <link href="~/Content/bootstrap/themes/dashboard.css" rel="stylesheet" />
      
        <script type="text/javascript" src="~/Scripts/modernizr-2.7.1.js"> </script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"> </script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"> </script>
        <![endif]-->
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Configuration Management</a>
                </div>
                <nav class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Apps</a></li>
                        <li><a href="#">Docs</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <input type="text" class="form-control" placeholder="Search...">
                    </form>
                </nav>
            </div>
        </div>
        
        <div class="container-fluid">
            <div class="row">
                <nav class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="active"><a href="#">Overview</a></li>
                        <li><a href="#">Global</a></li>
                        <li><a href="#">Endpoints</a></li>
                        <li><a href="#">Stats</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a href="">App 1</a></li>
                        <li><a href="">App 2</a></li>
                        <li><a href="">App 3</a></li>
                        <li><a href="">App 4</a></li>
                        <li><a href="">App 5</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a href="">Configuration</a></li>
                        <li><a href="">Api Docs</a></li>
                        <li><a href="">About</a></li>
                    </ul>
                </nav>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <h1 class="page-header">Dashboard</h1>

                    <div class="row placeholders">
                        <div class="col-xs-6 col-sm-3 placeholder">
                            <canvas id="Chart1" width="200" height="200"></canvas>
                            <h4>Label</h4>
                            <span class="text-muted">Something else</span>
                        </div>
                        <div class="col-xs-6 col-sm-3 placeholder">
                            <canvas id="Chart2" width="200" height="200"></canvas>
                            <h4>Label</h4>
                            <span class="text-muted">Something else</span>
                        </div>
                        <div class="col-xs-6 col-sm-3 placeholder">
                            <canvas id="Chart3" width="200" height="200"></canvas>
                            <h4>Label</h4>
                            <span class="text-muted">Something else</span>
                        </div>
                        <div class="col-xs-6 col-sm-3 placeholder">
                            <canvas id="Chart4" width="200" height="200"></canvas>
                            <h4>Label</h4>
                            <span class="text-muted">Something else</span>
                        </div>
                    </div>

                    @RenderBody()
                </div>
            </div>
        </div>
        
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="~/Scripts/jquery-1.10.2.min.js"> </script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="~/scripts/bootstrap.min.js"> </script>
        
        <script src="~/Scripts/chart.min.js"> </script>
        
        <script type="text/javascript">
            var data = [
                {
                    value: 30,
                    color: "#F38630"
                },
                {
                    value: 50,
                    color: "#E0E4CC"
                },
                {
                    value: 100,
                    color: "#69D2E7"
                }
            ];
            
            var chart1 = $("#Chart1").get(0).getContext("2d");
            var chart2 = $("#Chart2").get(0).getContext("2d");
            var chart3 = $("#Chart3").get(0).getContext("2d");
            var chart4 = $("#Chart4").get(0).getContext("2d");
            
            new Chart(chart1).Pie(data, null);
            new Chart(chart2).Pie(data, null);
            new Chart(chart3).Pie(data, null);
            new Chart(chart4).Pie(data, null);
        </script>
    </body>
</html>