﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "_layout";
}

<h2>Oops!</h2>
<p>Way to go. You broke it. Now I gotta look embarrased, and admit I crashed. Thanks for that.</p>