﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "_layout";
}

<img src="~/Content/nancy-logo.png" alt="Nancy logo" /><br />
	This view was rendered using the Nancy Razor view engine