﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "_layout";
}

<h2>@Model.Category Settings</h2>

@foreach (var pair in Model.Settings)
{
    <label>@pair.Key</label>
    <span>@pair.Value</span>
    <button>Edit</button>
    <button>Delete</button>
}